<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Base Page</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'/CSS/output.css'}" />
    <!-- <link rel="stylesheet" data-th-href="@{'/CSS/style.css'}" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
    <!-- This is the main content -->
    <div data-th-replace="~{navbar :: navbar}"></div>

    <!-- flowbite content -->

    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>

    <!-- common factor -->

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{'js/script.js'}"></script>
    <!-- <th:block data-th-replace="${script}"></th:block> -->
</body>
</html>